/* .businesses {
    flex-basis: 14%;
    margin: 1.25rem;
    padding: 2rem;
    border: 1px dotted goldenrod;
}

.businesses--newYork {
    flex-basis: 14%;
    margin: 1.25rem;
    padding: 2rem;
    border: 1px dotted goldenrod;
} */
